# Output de classes
*.class
bin/

#SVN
.svn/

# Configurações do Eclipse
.metadata
.settings/

# Arquivos de build do Java
*.war
*.ear

# Cache de imagens do Ruindows
Thumbs.db 

# Folder config file
Desktop.ini