<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property> 
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/mecasoft</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">admin</property>
		<mapping class="banco.modelo.TipoVeiculo"/>
		<mapping class="banco.modelo.Veiculo"/>
		<mapping class="banco.modelo.ProdutoServico"/>
		<mapping class="banco.modelo.ForneceProduto"/>
		<mapping class="banco.modelo.ForneceProdutoId"/>
		<mapping class="banco.modelo.Pessoa"/>
		<mapping class="banco.modelo.TipoFuncionario"/>
		<mapping class="banco.modelo.Papel"/>
		<mapping class="banco.modelo.Usuario"/>
		<mapping class="banco.modelo.Status"/>
		<mapping class="banco.modelo.FormaPagamento"/>
		<mapping class="banco.modelo.FormaPagtoUtilizada"/>
		<mapping class="banco.modelo.ItemServico"/>
		<mapping class="banco.modelo.StatusServico"/>
		<mapping class="banco.modelo.ServicoPrestado"/>
		<mapping class="banco.modelo.Duplicata"/>
		<mapping class="banco.modelo.Configuracao"/>
		<mapping class="banco.modelo.DuplicataPaga"/>
	</session-factory>
</hibernate-configuration>