<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="mecasoft.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="mecasoft.Perspective"
            id="mecasoft.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="tela.editor.UsuarioEditor"
            icon="assents/usuario/usuario16.png"
            id="tela.editor.usuarioEditor"
            name="Usuário">
      </editor>
      <editor
            class="tela.editor.PapelEditor"
            icon="assents/usuario/papel16.png"
            id="tela.editor.PapelEditor"
            name="Papel">
      </editor>
      <editor
            class="tela.editor.PessoaEditor"
            icon="assents/pessoa/pessoa16.png"
            id="tela.editor.PessoaEditor"
            name="Pessoa">
      </editor>
      <editor
            class="tela.editor.VeiculoEditor"
            icon="assents/veiculo/veiculo16.png"
            id="tela.editor.VeiculoEditor"
            name="Veículo">
      </editor>
      <editor
            class="tela.editor.TipoVeiculoEditor"
            icon="assents/veiculo/tipoVeiculo16.png"
            id="tela.editor.TipoVeiculoEditor"
            name="Tipo de Veículo">
      </editor>
      <editor
            class="tela.editor.TipoFuncionarioEditor"
            icon="assents/tipoFuncionario/tipoFuncionario16.png"
            id="tela.editor.TipoFuncionarioEditor"
            name="Tipo de funcionário">
      </editor>
      <editor
            class="tela.editor.ProdutoEditor"
            icon="assents/produto/produto16.png"
            id="tela.editor.ProdutoEditor"
            name="Produto">
      </editor>
      <editor
            class="tela.editor.ServicoEditor"
            icon="assents/servico/servico16.png"
            id="tela.editor.ServicoEditor"
            name="Serviço">
      </editor>
      <editor
            class="tela.editor.StatusEditor"
            icon="assents/status/status16.png"
            id="tela.editor.StatusEditor"
            name="Status">
      </editor>
      <editor
            class="tela.editor.AbrirOrdemServicoEditor"
            id="tela.editor.AbrirOrdemServicoEditor"
            name="Abrir ordem de serviço">
      </editor>
      <editor
            class="tela.editor.FecharOrdemServicoEditor"
            id="tela.editor.FecharOrdemServicoEditor"
            name="Fechar ordem de serviço">
      </editor>
      <editor
            class="tela.editor.FormaPagamentoEditor"
            icon="assents/formaPagamento/formaPagamento16.png"
            id="tela.editor.FormaPagamentoEditor"
            name="Forma de pagamento">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="tela.view.UsuarioView"
            icon="assents/usuario/usuario16.png"
            id="tela.view.UsuarioView"
            name="Lista de usuário">
      </view>
      <view
            class="tela.view.PapelView"
            icon="assents/usuario/papel16.png"
            id="tela.view.PapelView"
            name="Lista de papéis">
      </view>
      <view
            class="tela.view.VeiculoView"
            icon="assents/veiculo/veiculo16.png"
            id="tela.view.VeiculoView"
            name="Lista de veículos">
      </view>
      <view
            class="tela.view.PessoaView"
            icon="assents/pessoa/pessoa16.png"
            id="tela.view.PessoaView"
            name="Lista de pessoas">
      </view>
      <view
            class="tela.view.TipoVeiculoView"
            icon="assents/veiculo/tipoVeiculo16.png"
            id="tela.view.TipoVeiculoView"
            name="Lista de tipos de veículos">
      </view>
      <view
            class="tela.view.TipoFuncionarioView"
            icon="assents/tipoFuncionario/tipoFuncionario16.png"
            id="tela.view.TipoFuncionarioView"
            name="Lista de tipos de funcionário">
      </view>
      <view
            class="tela.view.ProdutoView"
            icon="assents/produto/produto16.png"
            id="tela.view.ProdutoView"
            name="Lista de produtos">
      </view>
      <view
            class="tela.view.ServicoView"
            icon="assents/servico/servico16.png"
            id="tela.view.ServicoView"
            name="Lista de serviços">
      </view>
      <view
            class="tela.view.StatusView"
            icon="assents/status/status16.png"
            id="tela.view.StatusView"
            name="Lista de status">
      </view>
      <view
            class="tela.view.ServicoPrestadoView"
            id="tela.view.ServicoPrestadoView"
            name="Serviços Prestados">
      </view>
      <view
            class="tela.view.FormaPagamentoView"
            icon="assents/formaPagamento/formaPagamento16.png"
            id="tela.view.FormaPagamentoView"
            name="Lista de formas de pagamento">
      </view>
      <view
            class="tela.view.ReportView"
            icon="assents/funcoes/report16.png"
            id="tela.view.ReportView"
            name="Relatório">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Arquivo">
            <command
                  commandId="mecasoft.configuracaoCommand"
                  icon="assents/funcoes/config16.png"
                  label="Configurações"
                  style="push">
            </command>
            <separator
                  name="mecasoft.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="mecasoft.reiniciarCommand"
                  icon="assents/funcoes/reset16.png"
                  label="Reiniciar">
            </command>
            <command
                  commandId="mecasoft.sairCommand"
                  icon="assents/funcoes/exit16.png"
                  label="Sair">
            </command>
         </menu>
         <menu
               label="Edição">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="assents/usuario/usuario16.png"
                  id="mecasoft.menuUsuario"
                  label="Usuário"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="tela.view.UsuarioView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="assents/usuario/papel16.png"
                  id="mecasoft.menuPapel"
                  label="Papel">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="tela.view.PapelView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="assents/pessoa/pessoa16.png"
                  id="mecasoft.menuPessoa"
                  label="Pessoa">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="tela.view.PessoaView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="assents/tipoFuncionario/tipoFuncionario16.png"
                  id="mecasoft.menuTipoFuncionario"
                  label="Tipo de funcionário">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="tela.view.TipoFuncionarioView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="assents/veiculo/veiculo16.png"
                  id="mecasoft.menuVeiculo"
                  label="Veículo">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="tela.view.VeiculoView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="assents/veiculo/tipoVeiculo16.png"
                  id="mecasoft.menuTipoVeiculo"
                  label="Tipo de veículo">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="tela.view.TipoVeiculoView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="assents/produto/produto16.png"
                  id="mecasoft.menuProduto"
                  label="Produtos">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="tela.view.ProdutoView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="assents/servico/servico16.png"
                  id="mecasoft.menuServico"
                  label="Serviços">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="tela.view.ServicoView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="assents/status/status16.png"
                  id="mecasoft.menuStatus"
                  label="Status">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="tela.view.StatusView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="assents/formaPagamento/formaPagamento16.png"
                  id="mecasoft.menuFormaPagamento"
                  label="Forma de pagamento">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="tela.view.FormaPagamentoView">
               </parameter>
            </command>
         </menu>
         <menu
               label="Financeiro">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  id="mecasoft.menuServicoPrestado"
                  label="Serviço">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="tela.view.ServicoPrestadoView">
               </parameter>
            </command>
         </menu>
         <menu
               label="Relatório">
            <command
                  commandId="mecasoft.showServicoSinteticoCommand"
                  label="Serviço sintético"
                  style="push">
            </command>
            <command
                  commandId="mecasoft.showServicoAnaliticoCommand"
                  label="Serviço analítico"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="aplicacao.command.PermissaoUsuarioCommand"
            id="mecasoft.permissaoUsuarioCommand"
            name="Permissao usuario">
      </command>
      <command
            defaultHandler="aplicacao.command.ReiniciarCommand"
            id="mecasoft.reiniciarCommand"
            name="Reiniciar">
      </command>
      <command
            defaultHandler="aplicacao.command.SairCommand"
            id="mecasoft.sairCommand"
            name="Sair">
      </command>
      <command
            defaultHandler="aplicacao.command.ConfiguracaoCommand"
            id="mecasoft.configuracaoCommand"
            name="Configuração">
      </command>
      <command
            defaultHandler="aplicacao.command.reports.ShowServicoSinteticoCommand"
            id="mecasoft.showServicoSinteticoCommand"
            name="Relatório de serviços sintético">
      </command>
      <command
            defaultHandler="aplicacao.command.reports.ShowServicoAnaliticoCommand"
            id="mecasoft.showServicoAnaliticoCommand"
            name="Relatório de serviços analítico">
      </command>
   </extension>
   <extension
         id="mecasoft"
         point="org.eclipse.core.runtime.products">
      <product
            application="mecasoft.application"
            name="MECASOFT">
         <property
               name="appName"
               value="MECASOFT">
         </property>
         <property
               name="windowImages"
               value="assents/logo/mecanica16X16.png,assents/logo/mecanica32X32.png,assents/logo/mecanica64X64.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="tela.view.activityUsuario"
            name="activity usuario">
      </activity>
      <activityPatternBinding
            activityId="tela.view.activityUsuario"
            isEqualityPattern="false"
            pattern="mecasoft/mecasoft.menuUsuario">
      </activityPatternBinding>
      <activity
            id="tela.view.activityPapel"
            name="activity papel">
      </activity>
      <activityPatternBinding
            activityId="tela.view.activityPapel"
            isEqualityPattern="false"
            pattern="mecasoft/mecasoft.menuPapel">
      </activityPatternBinding>
      <activity
            id="tela.view.activityPessoa"
            name="activity pessoa">
      </activity>
      <activityPatternBinding
            activityId="tela.view.activityPessoa"
            isEqualityPattern="false"
            pattern="mecasoft/mecasoft.menuPessoa">
      </activityPatternBinding>
      <activity
            id="tela.view.activityTipoVeiculo"
            name="activity tipo de veiculo">
      </activity>
      <activityPatternBinding
            activityId="tela.view.activityTipoVeiculo"
            isEqualityPattern="false"
            pattern="mecasoft/mecasoft.menuTipoVeiculo">
      </activityPatternBinding>
      <activity
            id="tela.view.activityVeiculo"
            name="activity veiculo">
      </activity>
      <activityPatternBinding
            activityId="tela.view.activityVeiculo"
            isEqualityPattern="false"
            pattern="mecasoft/mecasoft.menuVeiculo">
      </activityPatternBinding>
      <activity
            id="tela.view.activityTipoFuncionario"
            name="activity tipo de funcionario">
      </activity>
      <activityPatternBinding
            activityId="tela.view.activityTipoFuncionario"
            isEqualityPattern="false"
            pattern="mecasoft/mecasoft.menuTipoFuncionario">
      </activityPatternBinding>
      <activity
            id="tela.view.activityProduto"
            name="activity produto">
      </activity>
      <activityPatternBinding
            activityId="tela.view.activityProduto"
            isEqualityPattern="false"
            pattern="mecasoft/mecasoft.menuProduto">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="tela.view.activityServico"
            isEqualityPattern="false"
            pattern="mecasoft/mecasoft.menuServico">
      </activityPatternBinding>
      <activity
            id="tela.view.activityServico"
            name="activity serviço">
      </activity>
      <activity
            id="tela.view.activityStatus"
            name="activity status">
      </activity>
      <activityPatternBinding
            activityId="tela.view.activityStatus"
            isEqualityPattern="false"
            pattern="mecasoft/mecasoft.menuStatus">
      </activityPatternBinding>
   </extension>

</plugin>
