<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="mecasoft.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="mecasoft.Perspective"
            id="mecasoft.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="tela.editor.UsuarioEditor"
            icon="assents/usuario/usuario16.png"
            id="tela.editor.usuarioEditor"
            name="Usuário">
      </editor>
      <editor
            class="tela.editor.PapelEditor"
            icon="assents/usuario/papel16.png"
            id="tela.editor.PapelEditor"
            name="Papel">
      </editor>
      <editor
            class="tela.editor.PessoaEditor"
            icon="assents/pessoa/pessoa16.png"
            id="tela.editor.PessoaEditor"
            name="Pessoa">
      </editor>
      <editor
            class="tela.editor.VeiculoEditor"
            icon="assents/veiculo/veiculo16.png"
            id="tela.editor.VeiculoEditor"
            name="Veículo">
      </editor>
      <editor
            class="tela.editor.TipoVeiculoEditor"
            icon="assents/veiculo/tipoVeiculo16.png"
            id="tela.editor.TipoVeiculoEditor"
            name="Tipo de Veículo">
      </editor>
      <editor
            class="tela.editor.TipoFuncionarioEditor"
            id="tela.editor.TipoFuncionarioEditor"
            name="Tipo de funcionário">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="tela.view.UsuarioView"
            icon="assents/usuario/usuario16.png"
            id="tela.view.UsuarioView"
            name="Lista de usuário">
      </view>
      <view
            class="tela.view.PapelView"
            icon="assents/usuario/papel16.png"
            id="tela.view.PapelView"
            name="Lista de papéis">
      </view>
      <view
            class="tela.view.VeiculoView"
            icon="assents/veiculo/veiculo16.png"
            id="tela.view.VeiculoView"
            name="Lista de veículos">
      </view>
      <view
            class="tela.view.PessoaView"
            icon="assents/pessoa/pessoa16.png"
            id="tela.view.PessoaView"
            name="Lista de pessoas">
      </view>
      <view
            class="tela.view.TipoVeiculoView"
            icon="assents/veiculo/tipoVeiculo16.png"
            id="tela.view.TipoVeiculoView"
            name="Lista de tipos de veículos">
      </view>
      <view
            class="tela.view.TipoFuncionarioView"
            id="tela.view.TipoFuncionarioView"
            name="Lista de tipos de funcionário">
      </view>
      <view
            class="tela.view.ProdutoView"
            id="tela.view.ProdutoView"
            name="Lista de produtos">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Arquivo">
            <command
                  commandId="org.eclipse.ui.file.restartWorkbench"
                  icon="assents/funcoes/exit16.png"
                  label="Reiniciar">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="assents/funcoes/exit16.png"
                  label="Sair">
            </command>
         </menu>
         <menu
               label="Edição">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="assents/usuario/usuario16.png"
                  id="mecasoft.menuUsuario"
                  label="Usuário"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="tela.view.UsuarioView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="assents/usuario/papel16.png"
                  id="mecasoft.menuPapel"
                  label="Papel">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="tela.view.PapelView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="assents/pessoa/pessoa16.png"
                  id="mecasoft.menuPessoa"
                  label="Pessoa">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="tela.view.PessoaView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  id="mecasoft.menuTipoFuncionario"
                  label="Tipo de funcionário">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="tela.view.TipoFuncionarioView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="assents/veiculo/veiculo16.png"
                  id="mecasoft.menuVeiculo"
                  label="Veículo">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="tela.view.VeiculoView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="assents/veiculo/tipoVeiculo16.png"
                  id="mecasoft.menuTipoVeiculo"
                  label="Tipo de veículo">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="tela.view.TipoVeiculoView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="assents/veiculo/tipoVeiculo16.png"
                  id="mecasoft.menuProduto"
                  label="Produtos">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="tela.view.ProdutoView">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="aplicacao.command.PermissaoUsuarioCommand"
            id="mecasoft.permissaoUsuarioCommand"
            name="Permissao usuario">
      </command>
   </extension>
   <extension
         id="mecasoft"
         point="org.eclipse.core.runtime.products">
      <product
            application="mecasoft.application"
            name="MECASOFT">
         <property
               name="appName"
               value="MECASOFT">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="tela.view.activityUsuario"
            name="activity usuario">
      </activity>
      <activityPatternBinding
            activityId="tela.view.activityUsuario"
            isEqualityPattern="false"
            pattern="mecasoft/mecasoft.menuUsuario">
      </activityPatternBinding>
      <activity
            id="tela.view.activityPapel"
            name="activity papel">
      </activity>
      <activityPatternBinding
            activityId="tela.view.activityPapel"
            isEqualityPattern="false"
            pattern="mecasoft/mecasoft.menuPapel">
      </activityPatternBinding>
      <activity
            id="tela.view.activityPessoa"
            name="activity pessoa">
      </activity>
      <activityPatternBinding
            activityId="tela.view.activityPessoa"
            isEqualityPattern="false"
            pattern="mecasoft/mecasoft.menuPessoa">
      </activityPatternBinding>
      <activity
            id="tela.view.activityTipoVeiculo"
            name="activity tipo de veiculo">
      </activity>
      <activityPatternBinding
            activityId="tela.view.activityTipoVeiculo"
            isEqualityPattern="false"
            pattern="mecasoft/mecasoft.menuTipoVeiculo">
      </activityPatternBinding>
      <activity
            id="tela.view.activityVeiculo"
            name="activity veiculo">
      </activity>
      <activityPatternBinding
            activityId="tela.view.activityVeiculo"
            isEqualityPattern="false"
            pattern="mecasoft/mecasoft.menuVeiculo">
      </activityPatternBinding>
      <activity
            id="tela.view.activityTipoFuncionario"
            name="activity tipo de funcionario">
      </activity>
      <activityPatternBinding
            activityId="tela.view.activityTipoFuncionario"
            isEqualityPattern="false"
            pattern="mecasoft/mecasoft.menuTipoFuncionario">
      </activityPatternBinding>
   </extension>

</plugin>
